

        html{
            width: 100%;
            height: 90%;
        }
        body{
            width: 100%;
            height: 90%;
            margin: 0;
            background-color: #161719/*28ccd6*/;
        }
    .login{   
	background-color: snow /*#87f8ff*/;
	padding:10px;
        float: left;
        margin: 5px ;
        width: 360px;   
        height: 350px;   
	 
    }   
    .login h1{   
        color: #000000;   

        letter-spacing: 1px;
        text-align: center;
    }   
    h1{   
        font-size: 2em;
        margin: 0.67em 0;
    }   
    input{
        width: 278px;
        height: 18px;
        margin-bottom: 10px;
        outline: none;
        padding: 10px;
        font-size: 13px;
        color: #000000;
        border-top: 1px solid #312E3D;
        border-left: 1px solid #312E3D;
        border-right: 1px solid #312E3D;
        border-bottom: 1px solid #56536A;
        border-radius: 4px;
        /*background-color:#d6fdff; */
    }
    .sub{   
        width: 60px;   
        height: 200px;   
        display:block;   
        background-color: #206ed4;   
        border: 1px solid #3762bc;   
        color: #000;   
        padding: 9px 14px;   
        font-size: 15px;   
        line-height: normal;   
        border-radius: 5px;   
        float:right;
    }  

	.reg{   
        width: 300px;   
        min-height: 20px;   
        display: block;   
        background-color: #bccef3;   
        border: 1px solid #3762bc;   
        color: #000;   
        padding: 9px 14px;   
        font-size: 15px;   
        line-height: normal;   
        border-radius: 5px;   
        margin: 0;   
	text-decoration:none
    }  


