

    html{   
        width: 100%;   
        height: 100%;   
           
        font-style: sans-serif;   
    }   
    body{   
        width: 100%;   
        height: 100%;   
        margin: 0;   
        background-color: #161719 /*#28ccd6*/;   
    }   
    #login{   
	background-color: snow /*#87f8ff*/;
	padding:10px;
        position: absolute;   
        top: 50%;   
        left:50%;   
        margin: -172px 0 0 -172px;   
        width: 310px;   
        height: 334px;   
	box-shadow:0px 10px 20px /*#adfaff*/
    }   
    #login h1{   
        color: #000000;   

        letter-spacing: 1px;   
        text-align: center;   
    }   
    h1{   
        font-size: 2em;   
        margin: 0.67em 0;   
    }   
    input{   
        width: 278px;   
        height: 18px;   
        margin-bottom: 10px;   
        outline: none;   
        padding: 10px;   
        font-size: 13px;   
        color: #000000;      
        border-top: 1px solid #312E3D;   
        border-left: 1px solid #312E3D;   
        border-right: 1px solid #312E3D;   
        border-bottom: 1px solid #56536A;   
        border-radius: 4px;   
        /*background-color:#d6fdff; */  
    }   
    .sub{   
        width: 300px;   
        min-height: 20px;   
        display: block;   
        background-color: #c8ffed;   
        border: 1px solid #59ffc8;   
        color: #fff;   
        padding: 9px 14px;   
        font-size: 15px;   
        line-height: normal;   
        border-radius: 5px;   
        margin: 0;   
    }  

	.reg{   
        width: 300px;   
        min-height: 20px;   
        display: block;   
        background-color: #c8ffed;   
        border: 1px solid #59ffc8;   
        color: #000;   
        padding: 9px 14px;   
        font-size: 15px;   
        line-height: normal;   
        border-radius: 5px;   
        margin: 0;   
	text-decoration:none
    }  


